# Sentiment Analysis (News and Twitter Data)
# 1. Realtime data will be analyzed (After running the code at that instant news and twits will be fetched)
# 2. Data on certain topics will be analyzed
# Let's move towards imports

In [8]:
from newspaper import  Article
import newspaper
import pandas as pd
from textblob import TextBlob
import nltk
import seaborn as sns
print("Done")

Done

# Fetching the articles

In [3]:
site = newspaper.build("https://edition.cnn.com/?refresh=1", memoize_articles=False)


# get list of article URLs
top_articles = site.article_urls()


ar = top_articles[:90]

In [4]:
len(top_articles)

631

In [5]:
# top_articles.remove('http://www.slideshare.net/Wisec/http-parameter-pollution-a-new-category-of-web-attacks')

nltk.download('punkt')

summaryList = []

ar1 = ar[1]


for article in ar:
    articles = Article(article,language="en")
    articles.download()
    articles.parse()
    articles.nlp()
    text = articles.summary
    summaryList.append(text)



# print(summaryList)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
# covid data

# For twitter data

In [9]:
df1 = pd.read_csv("CNN.csv")

df1.drop('Unnamed: 0',axis=1)

,Tweet Text,Likes,Time
0,Hailey Bieber is once again trying to make it ...,44,2022-11-29 18:45:06+00:00
1,As frustrated demonstrators take to the street...,80,2022-11-29 18:30:10+00:00
2,A Finnish brand is bringing high fashion to an...,72,2022-11-29 18:15:09+00:00
3,Iranian soccer great Ali Karimi has alleged th...,220,2022-11-29 18:00:15+00:00
4,Twitter said it will no longer enforce its lon...,417,2022-11-29 17:45:09+00:00
...,...,...,...
95,The families of Iran’s World Cup soccer team h...,4780,2022-11-28 20:00:15+00:00
96,Cyber Monday is now projected to be the bigges...,246,2022-11-28 19:51:51+00:00
97,Merriam-Webster’s word of the year is “gasligh...,786,2022-11-28 19:37:09+00:00
98,"More than 10,000 sippy cups and bottles produc...",143,2022-11-28 19:33:39+00:00
99,The body of Northern Arizona University profes...,129,2022-11-28 19:32:54+00:00

In [17]:
# covid twits
df2 = pd.read_csv("CNN.csv")

df2.drop('Unnamed: 0',axis=1)

,Tweet Text,Likes,Time
0,Hailey Bieber is once again trying to make it ...,44,2022-11-29 18:45:06+00:00
1,As frustrated demonstrators take to the street...,80,2022-11-29 18:30:10+00:00
2,A Finnish brand is bringing high fashion to an...,72,2022-11-29 18:15:09+00:00
3,Iranian soccer great Ali Karimi has alleged th...,220,2022-11-29 18:00:15+00:00
4,Twitter said it will no longer enforce its lon...,417,2022-11-29 17:45:09+00:00
...,...,...,...
95,The families of Iran’s World Cup soccer team h...,4780,2022-11-28 20:00:15+00:00
96,Cyber Monday is now projected to be the bigges...,246,2022-11-28 19:51:51+00:00
97,Merriam-Webster’s word of the year is “gasligh...,786,2022-11-28 19:37:09+00:00
98,"More than 10,000 sippy cups and bottles produc...",143,2022-11-28 19:33:39+00:00
99,The body of Northern Arizona University profes...,129,2022-11-28 19:32:54+00:00

# Analysing the sentiment

In [18]:
polarityList = []

for summary in summaryList:
    blob = TextBlob(summary)
    sentiment = blob.sentiment.polarity
    polarityList.append(sentiment)

print(polarityList)

# polarity 0 - neutral, 1 - positive, 2 - negative

[0.018749999999999996, -0.1, -0.02121212121212121, 0.36428571428571427, 0.06515151515151514, 0.17900432900432903, -0.1285714285714286, 0.05555555555555556, 0.2838095238095238, 0.32, 0.07583333333333334, 0.08888888888888889, 0.007373737373737384, 0.03333333333333333, 0.10972222222222222, 0.15208333333333332, -0.07916666666666666, 0.04772727272727273, 0.25, 0.1875, 0.07689393939393939, 0.14819444444444443, 0.12142857142857143, 0.096506734006734, 0.15000000000000002, 0.24074074074074073, 0.08837072018890199, 0.09642857142857142, 0.09230769230769233, 0.17307692307692307, 0.22187131050767414, 0.18888888888888888, 0.0527972027972028, 0.3055555555555556, 0.45095238095238094, 0.12159090909090908, 0.02500000000000001, 0.18463203463203462, 0.20681818181818185, 0.125, 0.21727272727272728, 0.13333333333333333, 0.1, 0.0, 0.06428571428571428, 0.25777777777777783, 0.005059523809523812, 0.25, 0.015734265734265732, 0.15353535353535352, 0.12666666666666665, 0.2, 0.16426767676767676, 0.17777777777777778, 0.018749999999999996, -0.04000000000000001, 0.09625000000000002, -0.006666666666666669, 0.13749999999999998, 0.07727272727272727, 0.19761904761904758, -0.5, 0.02266233766233766, 0.2572916666666667, 0.09642857142857143, 0.11590909090909092, -0.08166666666666667, 0.035881542699724524, -0.03055555555555556, -0.00833333333333334, -0.2866666666666667, -0.01666666666666667, 0.04047619047619048, 0.12727272727272726, 0.16666666666666666, 0.25, 0.22148760330578512, 0.21220238095238095, 0.15, 0.20666666666666667, 0.15043290043290045, -0.14242424242424245, 0.2, 0.018749999999999996, -0.019607843137254905, 0.2554315476190476, -0.06333333333333332, -0.14040404040404042, 0.2526666666666667, -0.05416666666666667]

In [19]:
twitSummaryList = []

for text in df1['Tweet Text']:
    blob = TextBlob(text)
    sentiment = blob.sentiment.polarity
    twitSummaryList.append(sentiment)

twitSummaryList[:90]

[-0.03333333333333332,
 -0.26666666666666666,
 0.13,
 0.23333333333333336,
 0.03333333333333333,
 0.40277777777777773,
 -0.2,
 0.16666666666666669,
 0.3333333333333333,
 -0.016666666666666663,
 0.06666666666666667,
 0.0,
 0.1,
 0.13809523809523808,
 0.3,
 0.11212121212121211,
 0.03333333333333333,
 -0.0625,
 -0.15555555555555559,
 0.07222222222222223,
 0.2111111111111111,
 0.0,
 0.2,
 -0.06874999999999999,
 0.0,
 0.0,
 0.25,
 -1.0,
 0.125,
 0.0,
 -0.06666666666666667,
 0.0,
 -0.08888888888888889,
 0.0,
 0.03333333333333333,
 -0.04074074074074075,
 0.0,
 0.0,
 0.40277777777777773,
 0.1,
 0.6,
 0.22,
 0.25,
 -0.175,
 0.13333333333333333,
 0.3333333333333333,
 0.0,
 0.05000000000000002,
 -0.006397306397306411,
 0.03333333333333333,
 -0.13181818181818183,
 0.0,
 0.2,
 0.2,
 0.13,
 0.0,
 -0.0625,
 0.052000000000000005,
 0.0,
 -0.1125,
 0.2111111111111111,
 0.3166666666666667,
 0.04999999999999999,
 0.21818181818181817,
 0.0,
 -0.4,
 0.35,
 0.0,
 0.225,
 0.0,
 -0.3,
 0.03333333333333334,
 0.25,
 -0.1,
 -0.25,
 -0.00625,
 0.0,
 -0.16666666666666666,
 0.1125,
 0.13636363636363635,
 0.0,
 -1.0,
 -0.051851851851851864,
 0.0,
 0.1,
 0.0,
 0.0,
 -0.022916666666666655,
 -0.1888888888888889,
 0.0]

# Making a final CSV

In [20]:
df = pd.DataFrame({'Summary Text':summaryList[:90],'Sentiment Polarity':polarityList[:90],'Twit_text': df1['Tweet Text'][:90],'Sentiment Polarity Twitter': twitSummaryList[:90]})

df
df

,Summary Text,Sentiment Polarity,Twit_text,Sentiment Polarity Twitter
0,How relevant is this ad to you?\nVideo player ...,0.018750,Hailey Bieber is once again trying to make it ...,-0.033333
1,A man went missing from a Carnival cruise ship...,-0.100000,As frustrated demonstrators take to the street...,-0.266667
2,From the moment Emma Corrin appears on screen ...,-0.021212,A Finnish brand is bringing high fashion to an...,0.130000
3,"Written by Jack Guy Christian Edwards, CNNArou...",0.364286,Iranian soccer great Ali Karimi has alleged th...,0.233333
4,"Written by Oscar Holland, CNNWhen celebrated p...",0.065152,Twitter said it will no longer enforce its lon...,0.033333
...,...,...,...,...
85,But it’s coming under huge pressure from devel...,0.255432,Helena Bonham Carter is coming to the defense ...,0.000000
86,"Aisha Salaudeen , CNN Written byIn a coffee sh...",-0.063333,"In a media conference on Monday, Tyler Adams w...",0.000000
87,Bethlehem and Jerusalem CNN —At least six Pale...,-0.140404,Online Black Friday sales in the United States...,-0.022917
88,"Basel Christmas Market, SwitzerlandBasel Chris...",0.252667,The label on a cup of Velveeta’s microwaveable...,-0.188889
89,The picturesque town of Presicce in the sunny ...,-0.054167,"Dr. Anthony Fauci, the soon-retiring medical a...",0.000000

# Saving as CSV

In [17]:
df.to_csv("Analysis.csv")

# Data Visualization (Part 1)

In [ ]:
# TODO: Bar graph (Positive values)

In [ ]:
# TODO: Bar graph (Negative values)

In [ ]:
#  TODO: Pie Chart

# Part 2