# Sentiment Analysis (News and Twitter Data)

## 1. Realtime data will be analyzed (After running the code at that instant news and twits will be fetched)
## 2. Data on certain topics will be analyzed

# Let's move towards imports

In [7]:
from newspaper import  Article
import newspaper
import pandas as pd
from textblob import TextBlob
import nltk
print("Done")

Done

# Fetching the articles

In [2]:
site = newspaper.build("https://edition.cnn.com/?refresh=1", memoize_articles=False)


# get list of article URLs
top_articles = site.article_urls()


ar = top_articles[1:10]

In [3]:
len(top_articles)

613

In [4]:
# top_articles.remove('http://www.slideshare.net/Wisec/http-parameter-pollution-a-new-category-of-web-attacks')

nltk.download('punkt')

summaryList = []

ar1 = ar[1]


for article in ar:
    articles = Article(article,language="en")
    articles.download()
    articles.parse()
    articles.nlp()
    text = articles.summary
    summaryList.append(text)

# print(summaryList)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## For Twitter data

In [18]:
df1 = pd.read_csv("CNN.csv")

df1.drop('Unnamed: 0',axis=1)

,Tweet Text,Likes,Time
0,Hailey Bieber is once again trying to make it ...,44,2022-11-29 18:45:06+00:00
1,As frustrated demonstrators take to the street...,80,2022-11-29 18:30:10+00:00
2,A Finnish brand is bringing high fashion to an...,72,2022-11-29 18:15:09+00:00
3,Iranian soccer great Ali Karimi has alleged th...,220,2022-11-29 18:00:15+00:00
4,Twitter said it will no longer enforce its lon...,417,2022-11-29 17:45:09+00:00
...,...,...,...
95,The families of Iran’s World Cup soccer team h...,4780,2022-11-28 20:00:15+00:00
96,Cyber Monday is now projected to be the bigges...,246,2022-11-28 19:51:51+00:00
97,Merriam-Webster’s word of the year is “gasligh...,786,2022-11-28 19:37:09+00:00
98,"More than 10,000 sippy cups and bottles produc...",143,2022-11-28 19:33:39+00:00
99,The body of Northern Arizona University profes...,129,2022-11-28 19:32:54+00:00

# Analysing the sentiment

In [19]:
polarityList = []

for summary in summaryList:
    blob = TextBlob(summary)
    sentiment = blob.sentiment.polarity
    polarityList.append(sentiment)

print(polarityList)

# polarity 0 - neutral, 1 - positive, 2 - negative

[-0.1, -0.02121212121212121, 0.36428571428571427, 0.06515151515151514, 0.05555555555555556, -0.1285714285714286, 0.2838095238095238, 0.1798809523809524, 0.32]

In [20]:
twitSummaryList = []

for text in df1['Tweet Text']:
    blob = TextBlob(text)
    sentiment = blob.sentiment.polarity
    twitSummaryList.append(sentiment)

twitSummaryList[:10]

[-0.03333333333333332,
 -0.26666666666666666,
 0.13,
 0.23333333333333336,
 0.03333333333333333,
 0.40277777777777773,
 -0.2,
 0.16666666666666669,
 0.3333333333333333,
 -0.016666666666666663]

# Making a final CSV

In [21]:
df = pd.DataFrame({'Summary Text':summaryList,'Sentiment Polarity':polarityList,'Twit_text': df1['Tweet Text'][1:10],'Sentiment Polarity Twitter': twitSummaryList[1:10]})

df

,Summary Text,Sentiment Polarity,Twit_text,Sentiment Polarity Twitter
1,A man went missing from a Carnival cruise ship...,-0.100000,As frustrated demonstrators take to the street...,-0.266667
2,From the moment Emma Corrin appears on screen ...,-0.021212,A Finnish brand is bringing high fashion to an...,0.130000
3,"Written by Jack Guy Christian Edwards, CNNArou...",0.364286,Iranian soccer great Ali Karimi has alleged th...,0.233333
4,"Written by Oscar Holland, CNNWhen celebrated p...",0.065152,Twitter said it will no longer enforce its lon...,0.033333
5,"Kendall paired a $4,200 Bottega Veneta bag wit...",0.055556,"Clarence Gilyard Jr., the actor best known for...",0.402778
6,Balenciaga is seeking at least $25 million in ...,-0.128571,Firearm deaths surged in the US during the Cov...,-0.200000
7,"Written by Toyin Owoseje, CNNCelebrated Britis...",0.283810,World Cup chief Hassan Al-Thawadi said that be...,0.166667
8,"Written by Marianna Cerini, CNN Milan, ItalyPi...",0.179881,"A family in Fort Worth, Texas, has been reunit...",0.333333
9,"""The serene and calming aesthetics of Japandi ...",0.320000,"Mauna Loa, the world's largest active volcano,...",-0.016667

# Saving as CSV

In [22]:
df.to_csv("Analysis.csv")